/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: white; /* Fondo de la barra */
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: black; /* Color del thumb (el control que mueves) */
    -fx-background-radius: 10; /* Bordes redondeados del thumb */
    
}